.tabs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: min-content;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #6666de;
  border-radius: 30px;
  color: white;
}

/* Individual tab */
.tabs li {
  width: min-content;
  height:min-content;
  padding: 10px;
  justify-self: center;
  cursor: pointer;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  margin-right: 5px;
  text-align: center;
  user-select: none;
}

/* Active tab */
.tabs li.active {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  color: #fff;
  border-color: black;

}

/* Tab content */
.tab-content {
  /* width: max-content; */
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.first-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-between;
}
.buttons-19 {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
   background: #6666de;
  transition: background-color 0.3s ease;
  width: 11em;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  border-radius: 20px;
}
li {
  list-style-type: none;
}
/* .main-sections {
  margin: 10px;
  width: 80%;
} */
.second-section {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second-section .card1 {
  flex-grow: 0.9;
}
.form-elements {
  display: flex;
  justify-content: space-between;

}
.form-elements select {
  padding: 10px;
  margin: 10px;
  background-color: #6666de;
  color: white;
  width: max-content;
  border-color: #6666de;
  border-radius: 20px;
}
.main-container {
  padding: 20px;
}

.names-lablel {
  display: flex;
  justify-content: space-between;
}

/* .board {
  background-color: #f59b9b;
} */
.side-table1 tr{
 background-color: #6666de;
 color: white;
}
.leader-head {
  display: flex;
  justify-content: space-between;
}
.buttons-17 {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  height: 5vh;
   background: #6666de;
  transition: background-color 0.3s ease;
  width: 11em;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  border-radius: 20px;
}

.acheive-buttons  {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leader-ranks {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.leader-ranks p:nth-child(5n + 1) {
  background-color: #ffcccb; 
}

.leader-ranks p:nth-child(5n + 2) {
  background-color: #c2e7fc; 
}

.leader-ranks p:nth-child(5n + 3) {
  background-color: #d0f0c0; 
}

.leader-ranks p:nth-child(5n + 4) {
  background-color: #ffd700;
}

.leader-ranks p:nth-child(5n + 5) {
  background-color: #dda0dd; 
}

.third-section {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.tab4-header {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  
  .card {
    width: fit-content; 
  }
  .third-section{
    flex-wrap: wrap;
  }
}