.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6666de;
  color: white;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #6666de;
  border-color: transparent;
  color: white;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}

.dropdown-content {
  position: absolute; 
  display: flex;
  flex-direction: column;
  height: 30%;
  z-index: 4;
  width: max-content;
  padding: 0.5rem;
 
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); 
  background-color: #8282df;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 50px; 
}
